.centered h4 { text-align: center; }
.centered p { text-align: center; }
.centered img { margin-left: auto; margin-right: auto; display: block; }
.colored-form textarea, .colored-form .form-control { color: #2c3e50; background-color: #2c3e50; border-radius: 10px; }
.colored-form label { padding-left: 10px; color: white; }

.form-control::-webkit-input-placeholder {
	padding-left: 10px;
    color: white;
}
.form-control:-moz-placeholder {
	padding-left: 10px;
    color: white;
}
.form-control::-moz-placeholder {
	padding-left: 10px;
    color: white;
}
:-ms-input-placeholder {
	padding-left: 10px;
    color: white;
}
.form-control:focus {
	color: white;
}
.form-control {
	padding-left: 10px;
}